$white: #fff;
$white-opacity-40: rgba($white, 0.4);
$body-bg-color: rgb(237,237,237);
$primary-color: rgb(63,135,245);
$dark-text-color: rgb(77,77,77);
$light-text-color: rgb(204,204,204);

$font-stack: HelveticaNeue, "Helvetica Neue", Helvetica, Arial, "Segoe UI", "Lucida Grande", sans-serif; 

$breakpoint: 992px;